.task2 {
  padding: 20px;
  background: linear-gradient(200deg, #a7c06e, #f3f7ec);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  .task2-header {
    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-family: "Roboto", sans-serif;
      color: #fafafa;
      font-weight: 800;
    }
  }

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a3bd67;
    font-size: 50px;
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;

    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .input-container {
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    input {
      width: calc(100% - 30px);
      padding: 15px 20px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      transition: border-color 0.2s ease-in-out;

      &::placeholder {
        color: #999;
        opacity: 0.7;
      }

      &:focus {
        outline: none;
        border: 1px solid #a3bd67;
      }
    }

    .icon-container {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;

      .search-icon,
      .clear-icon {
        font-size: 30px;
        color: #a3bd67;
        margin-left: 10px;

        transition: opacity 0.3s ease-in-out;
      }

      .clear-icon {
        color: #ccc;
        cursor: pointer;
      }
    }
  }

  .list-container {
    width: 100%;
    .list-item-info {
      color: #fafafa;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .table-container {
      width: 100%;
      overflow-x: auto;

      .table {
        width: 100%;
        border-collapse: collapse;
      }

      .table th {
        color: #fafafa;
      }

      .table th,
      .table td {
        border: 1px solid #fafafa;
        padding: 10px;
        text-align: left;
      }

      .table th {
        background-color: #7ca510;
      }
    }

    .table th,
    .table td {
      border: 1px solid #fafafa;
      padding: 8px;
      text-align: left;
    }

    .table th {
      background-color: #fafafa;
    }
    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .pagination button {
      padding: 10px 20px;
      width: 100px;
      margin: 0 5px;
      background: #7ca510;
      color: white;
      border: 1px solid #fafafa;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background: #fafafa;
        border: 1px solid #7ca510;
        color: #7ca510;
      }
      &:disabled {
        background: linear-gradient(180deg, #a7c06e, #f3f7ec);
        border: 1px solid #ccc;
        color: #fff;
        cursor: not-allowed;
      }
    }

    .pagination button:hover {
      background-color: #f2f2f2;
    }

    .pagination button:disabled {
      background-color: #eee;
      cursor: default;
    }

    .pagination span {
      padding: 10px 20px;
      margin: 0 5px;
      color: #333;
    }
  }
}
